@use 'sass:math';
@use 'functions' as *;
@use 'media' as *;

@mixin fluid-text($max: 100, $min: 10) {
  font-size: fluid($max, $min);
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else  {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@mixin responsive-grid($columns-mobile: 2, $columns-laptop: 3, $columns-desktop: 6, $gap: 1rem) {
  display: grid;
  gap: $gap;

  @include mobile {
    grid-template-columns: repeat($columns-mobile, 1fr);
  }

  @include mobile-laptop {
    grid-template-columns: repeat($columns-laptop, 1fr);
  }
  @include laptop-above {
    grid-template-columns: repeat($columns-desktop, 1fr);
  }
}
