@use "../helpers" as *;

.contact-form {
  padding-inline: 1rem;
  max-width: 500px;
  margin: $margin-block-section auto;
  border-radius: rem(10);
  border: $border;

  h1 {
    text-align: center;
  }

  .contact-form__group {
    margin-bottom: $gap-md;
  }

  &__label {
    color: $color-light;
    font-weight: 500;
    display: block;
    margin-bottom: rem(5);
  }

  &__input,
  &__textarea,
  &__button {
    display: block;
    width: 100%;
    border-radius: rem(8);
    font-size: 1rem;
    color: $color-white;
  }


  &__input,
  &__textarea {
    padding: 0.75rem 1rem;
    border: $border;
    background-color: #022222;

    &:focus {
      border-color: $color-primary-accent;
      outline: none;
    }

    &.invalid {
      border-color: red;
    }

  }

  &__textarea {
    resize: vertical;
    min-height: 120px;
  }

  &__error {
    color: red;
  }


  &__button {
    padding-block: rem(10);
    background-color: $color-primary;
    border: none;
    cursor: pointer;
    transition-duration: $transition-duration;

    &:hover {
      background-color: $color-primary-accent;
    }
  }
}
