@use '../helpers/index' as *;

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: $header-height 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer"
  ;
  transition-duration: $transition-duration;
  padding-left: $sidebar-width;
  transition: transform $transition-duration;


  .main-content, footer {
    position: relative;
    transition-duration: $transition-duration;
    left: 0;
  }

  &.menu-is-open .main-content, &.menu-is-open .footer  {
    left: calc($sidebar-open-width - $sidebar-width);
  }
  &.menu-is-open .sidebar {
    width: $sidebar-open-width;
  }

}



