@use '../helpers/index' as *;

.layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: $header-height 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer"
  ;
  transition-duration: $transition-duration;
  padding-left: $sidebar-width;
  transition: transform $transition-duration;


  .main-content, footer {
    position: relative;
    transition-duration: $transition-duration;
    left: 0;
  }


  @include tablet-above {
    &.menu-is-open .main-content, &.menu-is-open .footer  {
      left: calc($sidebar-open-width - $sidebar-width);
    }
  }
  @include tablet {
    &.menu-is-open .main-content, &.menu-is-open .footer  {
      left: calc($sidebar-open-width-tablet - $sidebar-width);
    }
  }

  @include tablet-above {
    &.menu-is-open .sidebar, &.menu-is-open .burger-menu {
      width: $sidebar-open-width;
    }
  }
  @include tablet {
    &.menu-is-open .sidebar, &.menu-is-open .burger-menu {
      width: $sidebar-open-width-tablet;
    }
  }

}



