@use '../helpers/index' as *;

.layout {
  position: relative;
  min-height: 100vh;
  display: grid;
  overflow-x: hidden;
  grid-template-rows: $header-height 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer"
  ;
  transition-duration: $transition-duration;
  transition: transform $transition-duration;

  @include mobile-above {
    padding-left: $sidebar-width;
  }

  .main-content, footer {
    position: relative;
    transition-duration: $transition-duration;
    left: 0;
  }


  @include tablet-above {
    &.menu-is-open .main-content, &.menu-is-open .footer  {
      left: calc($sidebar-open-width - $sidebar-width);
    }
  }
  @include mobile-tablet {
    &.menu-is-open .main-content, &.menu-is-open .footer  {
      left: calc($sidebar-open-width-tablet - $sidebar-width);
    }
  }

  @include tablet-above {
    &.menu-is-open .sidebar, &.menu-is-open .burger-menu {
      width: $sidebar-open-width;
    }
  }
  @include mobile-tablet {
    &.menu-is-open .sidebar, &.menu-is-open .burger-menu {
      width: $sidebar-open-width-tablet;
    }
  }

  @include mobile {
    &.menu-is-open .sidebar, &.menu-is-open .burger-menu {
      width: 100%;
    }
  }


  @include mobile {
    & .sidebar {
      left: -100%;
    }
    &.menu-is-open .sidebar {
      left: 0;
    }
  }

}




