@use '../helpers/index' as *;

.sidebar {
  z-index: $z-index-sidebar;
  position: fixed;
  overflow: hidden;
  top: 0; left: 0;
  height: 100%;
  background-color: $color-dark-20;
  width: $sidebar-width;
  transition-duration: $transition-duration;

  &__menu {
    padding-top: rem(8);
    padding-inline: $sidebar-padding-inline;

    @include mobile-above {
      margin-top: $header-height;
    }
    @include mobile {
      margin-top: $header-height-mobile;
      border-top: $border;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(5);
  }
  &__item {
    @include mobile {
      @include flex-center;
    }
  }

  &__link {
    position: relative;
    align-items: center;
    min-height: $sidebar-icon-size;
    padding-left: $sidebar-icon-size;
    border-radius: $border-radius;

    @include mobile-above {
      width: 100%;
    }

    @include hover {
      background-color: $color-dark-10;
    }

    &-icon {
      position: absolute;
      left: 0; top: 50%;
      transform: translateY(-50%);
      @include square($sidebar-icon-size);
      @include flex-center;
      transition-duration: $transition-duration;

      img {
        @include square(rem(24));
      }
    }
    &-text {
      width: 0;
      transition-duration: $transition-duration;
      opacity: 0;
    }

  }
}


.menu-is-open .sidebar .sidebar__link-text {
  padding-right: rem(12);
  width: auto;
  opacity: 1;
}